@model IEnumerable<Inventory.Models.Suppliers>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

@{
    Layout = null;
}
@if (Session["email"] == null)
{
    <script> location.href='/'; </script>
}



<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inventory</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/css/styles.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
         <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
              
                    <a class="navbar-brand brand-logo-mini" href="/Main/Index">
                    </a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
              
                <ul class="navbar-nav navbar-nav-right">
                
                    <li class="nav-item dropdown d-none d-xl-inline-block">
                        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <span class="profile-text">Arnaldo Tomo</span>
                            <img class="img-xs rounded-circle" src="~/images/faces/git.jpg" alt="Profile image">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                            <a class="dropdown-item p-0">
                                <div class="d-flex border-bottom">
                                    <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                                        <i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
                                    </div>
                                    <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
                                        <i class="mdi mdi-account-outline mr-0 text-gray"></i>
                                    </div>
                                    <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                                        <i class="mdi mdi-alarm-check mr-0 text-gray"></i>
                                    </div>
                                </div>
                            </a>
                            <a class="dropdown-item mt-2">
                               Gerenciar contas
                            </a>
                            <a class="dropdown-item">
                                Mudar Senha 
                            </a>
                          
                            <a class="dropdown-item" href="Logout" style="cursor:pointer">
                                Sign Out
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="icon-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
             <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <div class="nav-link">
                            <div class="user-wrapper">
                                <div class="profile-image">
                                    <img src="~/images/faces/git.jpg" alt="profile image">
                                </div>
                                <div class="text-wrapper">
                                    <p class="profile-name">Arnaldo Tomo</p>
                                    <div>
                                        <small class="designation text-muted">Gerente</small>
                                        <span class="status-indicator online"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- <button class="btn btn-success btn-block">
                                New Project
                                <i class="mdi mdi-plus"></i>
                            </button> -->
                        </div>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link active" href="/Main/Index">
                            <i class="menu-icon mdi mdi-television"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
             
                    <li class="nav-item">
                        <a class="nav-link" href="/Main/PurchaseItems">
                            <i class="menu-icon mdi mdi-backup-restore"></i>
                            <span class="menu-title">Comprar Produtos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Main/AddItem">
                            <i class="menu-icon mdi mdi-chart-line"></i>
                            <span class="menu-title">Adicionar Produtos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/main/Sells">
                            <i class="menu-icon mdi mdi-table"></i>
                            <span class="menu-title">Vender Produtos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/main/AddSupplier">
                            <i class="menu-icon mdi mdi-sticker"></i>
                            <span class="menu-title">Adicionar fornecedores</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/main/mystock">
                            <i class="menu-icon mdi mdi-sticker"></i>
                            <span class="menu-title">Em Stocks</span>
                        </a>
                    </li>
                   
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <script>
    $(document).ready(function () {
        $("#add").click(function () {
            var id = $("#sup_id").val();

            var sup_name = $("#sup_name").val();
            var mobile = $("#mobile").val();
            var email = $("#email").val();
            var address = $("#address").val();

            var data = "sup_name=" + sup_name + "&mobile=" + mobile + "&email=" + email + "&address=" + address;
           // alert(data);
            $.ajax({
                type: "POST",
                url: "Insert_Supplier",
                async:false,
                data: data,

                success:function($show_insert_data)
                {
                    $("#retrieve_data").html($show_insert_data);
                }
            });

        });
    });
                    </script>
                    <h2>AddSupplier</h2>


                    @ViewBag.status
                    @ViewData["status"]
                    @ViewData["fail_status"]
                    @ViewBag.delete_status

                    <center><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Supplier</button></center>

                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" style="">Add Supplier</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    
                                </div>
                                <div class="modal-body">
                                    <form method="post" id="registration">
                                        <table class="table">
                                            <input type="number" style="display:none" name="sup_id" id="sup_id" value="2" class="form-control" placeholder="Supplier Name" />
                                            <tr>
                                                <td>Supplier Name</td>
                                                <td><input type="text" name="sup_name" style="border-bottom:2px solid #0094ff " id="sup_name" class="form-control" placeholder="Supplier Name" /></td>
                                            </tr>
                                            <tr>
                                                <td>Supplier Contact No.</td>
                                                <td><input type="number" name="mobile" style="border-bottom:2px solid #0094ff"  id="mobile" class="form-control" placeholder="Supplier Phone" /></td>
                                            </tr>
                                            <tr>
                                                <td>Supplier's Email</td>
                                                <td><input type="text" name="email" style="border-bottom:2px solid #0094ff"  id="email" class="form-control" placeholder="Supplier Email" /></td>
                                            </tr>
                                            <tr>
                                                <td>Supplier Address</td>
                                                <td><input type="text" name="address" style="border-bottom:2px solid #0094ff"  id="address" class="form-control" placeholder="Supplier Address" /></td>
                                            </tr>
                                            <tr>

                                                <td><input type="button" name="submit" onclick="save()" id="add" class="btn btn-primary" value="Add Supplier" /></td>
                                            </tr>
                                        </table>
                                    </form>
                                </div>

                            </div>

                        </div>
                    </div>



                    <div id="retrieve_data">
                        <table class="table">
                            <tr>
                                <th>Sup id</th>
                                <th>Sup Name</th>
                                <th>Sup Contact</th>
                                <th>Sup Email</th>
                                <th>Sup Address</th>
                                <th>Action</th>
                            </tr>
                            @{ var a = 1;}
                            @foreach (var v in Model)
            {
                                <tr>
                                    <td>@(a++)</td>
                                    <td>@v.sup_name</td>
                                    <td>@v.mobile</td>
                                    <td>@v.email</td>
                                    <td>@v.address</td>
                                    <td>
                                        <a href="/Main/Delete_Supplier?id=@v.sup_id" tooltip="Edit"><i  class="menu-icon mdi mdi-pencil"></i></a>
                                        <a href="/Main/Delete_Supplier?id=@v.sup_id"><i class="menu-icon mdi mdi-delete"></i></a>

                                    </td>
                                </tr>
                            }
                        </table>

                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">
                            Copyright © 2018
                            <a href="http://www.surajkrsoren.tk" target="_blank">Suraj kr soren</a>. All rights reserved.
                        </span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                            Hand-crafted & made with
                            <i class="mdi mdi-heart text-danger"></i>
                        </span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/js/dashboard.js"></script>
    <!-- End custom js for this page-->
</body>
</html>
