@model dynamic
@{
    ViewBag.Title = "Final_Submit_Order";
}

<center><h3>@ViewBag.status</h3></center><br />
  <left>
                        <td>
                                Ponta Geia,Rua Correia de brito
                                <br /> Tell: +258 85 6474 687 / +258 87 6474 687<br />
                                Email:arnaldotomo@gmail.com<br>
                                Beira-Sofala
                            </td>
                    </left>

<table class="table">
    @foreach (var v in Model.SingleMystock)
    {
        <tr>
            <td>Nº da fatura.: </td>
            <td>@v.invoice</td>
        </tr>
        <tr>
            <td>Data da Compra: </td>
            <td>@v.bill_date</td>
        </tr>
        <tr>
            <td>Nome do Fornecedor: </td>
            <td>@v.supplier_name</td>
        </tr>
        <tr>
            <td>Data da entrega: </td>
            <td>@v.receive_date</td>
        </tr>
        <tr>
            <td>Carga de transporte: </td>
            <td>@v.carrying_charge</td>
        </tr>
    }
</table>
<table class="table">
    <tr>
        <th>Produtos</th>
        <th>Quantidade</th>
        <th>Preço</th>
        <th>Quantia</th>

    </tr>
    @foreach (var m in Model.items)
    {
        <tr>
            <td>@m.item_name</td>
            <td>@m.quantity</td>
            <td>@m.price</td>
            <td>@m.total_price_per_item</td>
        </tr>
    }
</table>

@foreach (var t in Model.total)
{

    <h3>Total Amount: @t.total_order_amount</h3><br />
    <a href="PrintAll?a=@t.invoice_no_t" target="_blank"><input type="button" class="btn btn-primary" value="Generar PDF"></a>
    <a href="Item_Stock"><input type="button" class="btn btn-primary" value="Nova Compra"></a>
}


