@model IEnumerable<Inventory.Models.MyStock>
@{
    Layout = null;
}



<table class="table">
    <tr style="background-color:#fb6d6d">
        <th>sr.no</th>
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Amount</th>
        <th>Action</th>
    </tr>


    @{ int sr = 0;}
    @foreach (var m in Model)
    {

        <tr>
            <td>@(sr += 1)</td>
            <td>@m.item_name</td>
            <td>@m.quantity</td>
            <td>@m.total_price_per_item</td>

            <td><button type="button" onclick="deleteda(@m.total_amount,@m.invoice,@m.quantity,@m.id,@m.total_price_per_item)">Delete</button></td>
        </tr>

    }

</table><br />
@*<div class="row" id="data_in_save">
       <div class="col-sm-4"></div>
        <div class="col-sm-4"><h3>Total Amount</h3><br /><input type="text" value="@Model.Sum(i=>i.total_price_per_item)" class="form-control" id="ts" name="total_amount" /></div>
        <div class="col-sm-4"></div>
    </div>*@

<div id="show">


</div>